@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: #2b2b2b;
    font-family: 'Josefin Slab';
}

#onglets h2 a, .artistes div a, .albums div a {
    text-decoration: none;
    color: white;
}

.artiste, .album {
    list-style-type: none;
}

.artistes div, .albums div {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
    flex-direction: column;
}

h1, h2, h3, h4 {
    color: white;
    margin: 5px 0 5px 0;
}

#leftPannel {
    background-color: #2B2B2B;
    width: 280px; 
    height: 100vh;
    display: flex;
    position: absolute;
}

.notHidden {
    left: 0;
    transition-duration: 0.5s;
}

.hidden {
    left: -280px;
    transition-duration: 0.5s;
}

#onglets {
    display: flex;
    flex-direction: column;
}

#onglets h2 {
    margin: 0;
    padding: 5px 0 5px 20px;
    border-top: solid grey 0.5px;
}

.sectionArtistes, .sectionAlbums {
    margin: 20px 0 20px 0;
    width: 95%;
}

.artisteImg {
    border-radius: 50%;
}

.artistes, .albums {
    display: flex;
}

#boutonToutVoir {
    text-align: right;
}

.boutonToutVoir {
    display: none;
}

.vueListeComplete {
    flex-wrap: wrap;
}

.biographie {
    color: white;
}

.artisteDetails {
    width: 90%;
}

.artisteDetails h1 {
    text-align: center;
}

.artisteDetails img {
    display: block;
    margin: 0 auto; 
}

.containerDetails {
    display: flex;
    justify-content: center;
}

.backgroundImg {
    display: flex;
    position: absolute;
    z-index: -1;
    top: -20px;
    left:0;
    width: 100%;
    opacity: 50%;
}